@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* SVG Background svgbackgrounds.com */
    background-color: #061324;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23061324' cx='50' cy='0' r='50'/%3E%3Cg fill='%2308172a' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23091b2f' cx='50' cy='100' r='50'/%3E%3Cg fill='%230a1e35' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%230b223b' cx='50' cy='200' r='50'/%3E%3Cg fill='%230b2541' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%230c2947' cx='50' cy='300' r='50'/%3E%3Cg fill='%230d2d4d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%230d3153' cx='50' cy='400' r='50'/%3E%3Cg fill='%230e355a' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%230e3960' cx='50' cy='500' r='50'/%3E%3Cg fill='%230e3d67' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%230e416d' cx='50' cy='600' r='50'/%3E%3Cg fill='%230d4574' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%230d497a' cx='50' cy='700' r='50'/%3E%3Cg fill='%230c4d81' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%230a5288' cx='50' cy='800' r='50'/%3E%3Cg fill='%2308568f' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23065a96' cx='50' cy='900' r='50'/%3E%3Cg fill='%23035f9d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230063A4' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}

/* Page Wrapper */

#page {
    width: 98%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1px;
    grid-template-areas:
    "header header header header header"
    "nav hero hero hero hero"
    "nav about about about about"
    "nav photos photos photos photos"
    "nav footer footer footer footer";

}

#header, #nav, #hero, #about, #photos, #footer {
    padding: 30px;
}

/* Header */

#header {
    grid-area: header;
    background-color: #061324;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */

#nav {
    grid-area: nav;
    background-color: goldenrod;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: fit-content;
    border-radius: 20px;
}

#nav a {
    display: block;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
}

#nav a:hover{
    color: rgba(1, 1, 1, 0.3);
}

#nav li:nth-child(-n+3){
    border-bottom: 1px solid rgba(1, 1, 1, 0.3);
}



#hero {
    grid-area: hero;
    background-color: blueviolet;
    height: 500px;
}

#about {
    grid-area: about;
    background-color: brown;
    height: 500px;

}

#photos {
    grid-area: photos;
    background-color: chartreuse;
    height: 500px;
    
}

#footer {
    grid-area: footer;
    background-color: deepskyblue;
    height: 500px;

}